.multiplication {
  background-color: white;
  max-width: 700px;
  margin: auto;
}

.inputMultiplication {
  display: flex;
  flex-direction: column;
}

.inputMultiplication>* {
  width: 100%;
}

#resultat {
  text-align: center;
  color: purple;
  font-size: large;
}
